/* $Id: shopcart.css,v 1.2 2011/09/12 14:00:33 dhavyd Exp $ */
/*
 * Cart page styles
 */
.total_price_amount,
.total_price_label,
.node-type-subheader {
  font-weight: bold;
  text-transform: uppercase;
}
#shopcart-cart-form .price,
#shopcart-cart-form .total_price_amount {
  white-space: nowrap;
}
.node-type-subheader {
  padding-left: 20px;
}
/*
 * Block styles
 */
.shopcart-throbber {
  height: 16px;
  margin: 2px;
  padding: 2px 2px 2px 18px;
  width: 16px;
}
a.cart-action-button,
#cart-list-block li {
  -khtml-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  list-style: none;
  padding: 3px;
}
#cart-list-block li.hover {
  background: silver;
}
a.cart-action-button {
  background: #d5d5d5;
  border: 1px solid white;
  padding: 3px 10px;
}
/*
 * Edit order page
 */
.disabled {
  color: gray;
}
#shopcart-editorder-form, #lightbox #modalContainer {
    text-align: left;
}
#shopcart-editorder-form .form-text {
    width: 200px;
}
#content #order-details {
    width: 890px;
    margin-bottom: -20px;
}
#content .order-id, #content #order-details .order-status, #content .order-handler-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#content .order-id {
    float: left;
}
#content #order-details .order-status {
    float: right;
}
#content #order-details .order-item-title {
    font-weight: bold;
}
/*
 * Show order
 */
.order-section {
    border-top: 2px solid #eee;
    font-weight: bold;
}
#order-details .order-sum {
    font-size: 1.2em;
}
#order-details .order-vat {
    font-size: 1em;
}
#content .order-items {
    clear: both;
}
#content #order-details .order-block-title {
    font-size: 14px;
    font-weight: bold;
}
#content .block-buyer, #content .block-receiver {
    float: left;
    min-width: 440px;
}
#content .block-receiver {
    margin-left: 10px;
}
#content .order-title-column {
    width: 70px;
}
#content .order-confirmation-text {
    margin: 20px 0 20px 0;
    font-size: 16px;
}
#order-details .order-delivery-address, #content .order-handler-orderid {
    font-size: 16px;
    clear: both;
    font-weight: bold;
}
#order-details .order-delivery-address {
    margin-bottom: 50px;
}
#order-details .order-items td  {
    text-align: left;
    vertical-align: top;
}
#order-details .order-title-column {
  width: 150px;
}

#main .order-handler-orderid, #main .order-handler-introduction, #main .order-handler-body {
  margin-bottom: 20px;
}
#main .order-handler-introduction {
  font-size: 1.2em;
}



